<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <%= customer.full_name %>
      </p>
      <% if customer.image.present? %>
        <div class="card-image">
          <figure class="image">
            <%= image_tag customer.image.variant(resize_to_limit: [250,250]) %>
          </figure>
        </div>
      <% end %>
    </div>
    <footer class="card-footer">
        <% if customer.email.present? %>
            <p class="card-footer-item">
                email: <br><%= customer.email %>
            </p>
        <% end %>
      <p class="card-footer-item">
        Phone Number: <br><%= customer.phone_number %>
      </p>
      <p class="card-footer-item">
        Notes: <br><%= customer.notes %>
      </p>
    </footer>
  </div>
</div>